[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/weirdball7/odin-recipes
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = https://github.com/weirdball7/odin-landing-page.git
